<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="UTF-8">
  <title>Cleevent</title>
  <link rel="stylesheet" href="/dist/css/main.css">
</head>

<body data-ng-app="cleeventApp">
  <div class="container">
    <div class="header row">
      <div class="logo">
      <!-- logo here   -->
      </div>

      <!-- TODO: change this content dynamically -->
      <div class="copy">
        <p>
          Hola,
        </p>
        <p>
          Cu&aacute;l es tu nombre?
        </p>
      </div>
    </div>

    <div class="content">
      <div class="form-group">
        <label class="sr-only" for="firstName">Su Nombre</label>
        <input type="text" class="form-control" id="firstName" data-ng-model="person.firstName">
      </div>
      <p data-ng-if="person">
        Hola {{person.firstName}}!
      </p>
    </div>

    <div class="footer text-center">
      <p>
        &copy; 2016
      </p>
    </div>

  </div>

</body>

<script src="/dist/js/main.js"></script>

</html>
