<tr>
  <td><%= user.name %> <%= user.last_name %></td>
  <td>
    <ul>
      <% user.drinks.each do |drink| %>
        <li>
          <%= drink.name %>
        </li>
      <% end %>
    </ul>
  </td>
  <td><button type="button" class="btn btn-success">Entregar</button></td>
</tr>
