.content {
  padding: 30px 0;

  .input-element {
    font-size: 18px;
    text-align: center;
  }
}

.step-1 {}
.step-2 {}
.step-3 {}
.step-4 {}

.step-5 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .btn-restart {
    margin-top: 10px;
    background-image: none;
    background-color: $gondolaBlack;
    color: #fff;
    font-size: 18px;
    border-color: $gondolaBlack;

    &:active,
    &:visited {
      background-color: $gondolaBlack;
      border-color: $gondolaBlack;
      color: #fff;
    }

    &:hover {
      font-weight: bold;
    }
  }
}

.loading {
  height: $loadingDivHeight;
  position: relative;
  text-align: center;
  background-color: #fff;

  .img-loading {
    width: 50px;
    margin-top: 20px;
  }
}
